@{
    ViewBag.Title = "Home Page";
}

<div class="leftSideBar">
    THIS IS LEFT
</div>
<div class="MiddlePiece">
    THIS IS MIDDLE
</div>
<div class="rightSideBar">
    THIS IS RIGHT on the money!
</div>

<div class="rightSideBar">
    Hoekom werk dit nie
</div>
