<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AirRepriceSearchBinding" />
                <binding name="AirScheduleSearchBinding" />
                <binding name="AirLowFareSearchBinding" />
                <binding name="AirLowFareSearchAsynchBinding" />
                <binding name="AirRetrieveLowFareSearchBinding" />
                <binding name="AirPriceBinding" />
                <binding name="AirFareRulesBinding" />
                <binding name="AirAvailabilitySearchBinding" />
                <binding name="AirFareDisplayBinding" />
                <binding name="SeatMapBinding" />
                <binding name="AirRefundQuoteBinding" />
                <binding name="AirRefundTicketBinding" />
                <binding name="AirTicketingBinding" />
                <binding name="AirVoidDocumentBinding" />
                <binding name="AirRetrieveDocumentBinding" />
                <binding name="AirExchangeProcessBinding" />
                <binding name="AirExchangeQuoteBinding" />
                <binding name="AirExchangeMultiQuoteBinding" />
                <binding name="AirExchangeTicketingBinding" />
                <binding name="AirMerchandisingOfferAvailabilityBinding" />
                <binding name="AirUpsellSearchBinding" />
                <binding name="FlightTimeTableBinding" />
                <binding name="AirPrePayBinding" />
                <binding name="EMDRetrieveBinding" />
                <binding name="EMDIssuanceBinding" />
                <binding name="AirMerchandisingDetailsBinding" />
                <binding name="AirExchangeEligibilityBinding" />
                <binding name="FlightInfoBinding" />
                <binding name="FlightDetailsBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRepriceSearchBinding"
                contract="SVCuapiAIR.AirRepriceSearchPortType" name="AirRepriceSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirScheduleSearchBinding"
                contract="SVCuapiAIR.AirScheduleSearchPortType" name="AirScheduleSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchBinding"
                contract="SVCuapiAIR.AirLowFareSearchPortType" name="AirLowFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchAsynchBinding"
                contract="SVCuapiAIR.AirLowFareSearchAsynchPortType" name="AirLowFareSearchAsynchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRetrieveLowFareSearchBinding"
                contract="SVCuapiAIR.AirRetrieveLowFareSearchPortType" name="AirRetrieveLowFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirPriceBinding"
                contract="SVCuapiAIR.AirPricePortType" name="AirPricePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirFareRulesBinding"
                contract="SVCuapiAIR.AirFareRulesPortType" name="AirFareRulesPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirAvailabilitySearchBinding"
                contract="SVCuapiAIR.AirAvailabilitySearchPortType" name="AirAvailabilitySearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirFareDisplayBinding"
                contract="SVCuapiAIR.AirFareDisplayPortType" name="AirFareDisplayPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="SeatMapBinding"
                contract="SVCuapiAIR.SeatMapPortType" name="SeatMapPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRefundQuoteBinding"
                contract="SVCuapiAIR.AirRefundQuotePortType" name="AirRefundQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRefundTicketBinding"
                contract="SVCuapiAIR.AirRefundTicketPortType" name="AirRefundTicketPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirTicketingBinding"
                contract="SVCuapiAIR.AirTicketingPortType" name="AirTicketingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirVoidDocumentBinding"
                contract="SVCuapiAIR.AirVoidDocumentPortType" name="AirVoidDocumentPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRetrieveDocumentBinding"
                contract="SVCuapiAIR.AirRetrieveDocumentPortType" name="AirRetrieveDocumentBindingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeProcessBinding"
                contract="SVCuapiAIR.AirExchangeProcessPortType" name="AirExchangeProcessPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeQuoteBinding"
                contract="SVCuapiAIR.AirExchangeQuotePortType" name="AirExchangeQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeMultiQuoteBinding"
                contract="SVCuapiAIR.AirExchangeMultiQuotePortType" name="AirExchangeMultiQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeTicketingBinding"
                contract="SVCuapiAIR.AirExchangeTicketingPortType" name="AirExchangeTicketingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingOfferAvailabilityBinding"
                contract="SVCuapiAIR.AirMerchandisingOfferAvailabilityPortType"
                name="AirMerchandisingOfferAvailabilityPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirUpsellSearchBinding"
                contract="SVCuapiAIR.AirUpsellSearchPortType" name="AirUpsellSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="FlightTimeTableBinding"
                contract="SVCuapiAIR.FlightTimeTablePortType" name="FlightTimeTablePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirPrePayBinding"
                contract="SVCuapiAIR.AirPrePayPortType" name="AirPrePayPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="EMDRetrieveBinding"
                contract="SVCuapiAIR.EMDRetrievePortType" name="EMDRetrievePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="EMDIssuanceBinding"
                contract="SVCuapiAIR.EMDIssuancePortType" name="EMDIssuancePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingDetailsBinding"
                contract="SVCuapiAIR.AirMerchandisingDetailsPortType" name="AirMerchandisingDetailsPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeEligibilityBinding"
                contract="SVCuapiAIR.AirExchangeEligibilityPortType" name="AirExchangeEligibilityPort" />
            <endpoint address="http://localhost:8080/kestrel/FlightService"
                binding="basicHttpBinding" bindingConfiguration="FlightInfoBinding"
                contract="SVCuapiAIR.FlightInfoPortType" name="FlightInfoPort" />
            <endpoint address="http://localhost:8080/kestrel/FlightService"
                binding="basicHttpBinding" bindingConfiguration="FlightDetailsBinding"
                contract="SVCuapiAIR.FlightDetailsPortType" name="FlightDetailsPort" />
        </client>
    </system.serviceModel>
</configuration>